section {
  padding: 1rem;
  margin: 1.6rem;
  background: #ddd;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

nz-collapse-panel {
  padding: 1.3rem;
  margin: 1rem;
  background-color: #ddd;
  margin-bottom: 1rem;
}

nz-collapse {
  padding: 1rem;
  margin: 1rem;
}
nz-table {
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  margin: 1rem; 
  background: #90847E;
}

