<!-- NG-ZORRO -->
<nz-layout style="position:sticky;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu>
        <span title>
          <i nz-icon type="user"></i>
          <span class="nav-text" ><a [routerLink]="['./dashboard']">Dashboard</a></span>
        </span>
      </li>
      <li nz-submenu>
        <span title>
          <i nz-icon type="team"></i><span class="nav-text">Tables</span></span>
        <ul>
          <li nz-menu-item><a [routerLink]="['./charitytable']">Charity Tables</a></li>
          <li nz-menu-item><a [routerLink]="['./usertables']">User Tables</a></li>
        </ul>
      </li>
      <li nz-submenu>
        <span title>
          <i nz-icon type="team"></i><span class="nav-text">Charts</span></span>
        <ul>
          <li nz-menu-item><a [routerLink]="['./charitycharts']">Charity Charts</a></li>
          <li nz-menu-item><a [routerLink]="['./usercharts']">User Charts</a></li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #ddd; padding:0;">
      <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>

    <nz-content style="margin:0 16px;">

      <router-outlet></router-outlet>

    </nz-content>
    <nz-footer style="text-align: center;"> AccionLabs ©2018 KuberApp </nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger> <i nz-icon type="up"></i> </ng-template>