<section class="table-wraps">
  <div class="first-tabel">
    <nz-table #editRowTable nzBordered [nzData]="dataSet">
      <thead>
        <tr>
          <th nzWidth="25%">Charity Name</th>
          <th nzWidth="15%">Total funds</th>
          <th nzWidth="30%">description</th>
          <th nzWidth="20%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data">
          <td>
            <div class="editable-cell">
              <div class="editable-cell-text-wrapper">
                <ng-container *ngIf="!editCache[data.key].edit">
                  {{ data.name }}
                </ng-container>
                <ng-container *ngIf="editCache[data.key].edit">
                  <input
                    type="text"
                    nz-input
                    [(ngModel)]="editCache[data.key].data.name"
                  />
                </ng-container>
              </div>
            </div>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.key].edit">
              {{ data.totalfunds }}
            </ng-container>
            <ng-container *ngIf="editCache[data.key].edit">
              <input
                type="text"
                nz-input
                [(ngModel)]="editCache[data.key].data.totalfunds"
              />
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.key].edit">
              {{ data.address }}
            </ng-container>
            <ng-container *ngIf="editCache[data.key].edit">
              <input
                type="text"
                nz-input
                [(ngModel)]="editCache[data.key].data.address"
              />
            </ng-container>
          </td>
          <td>
            <div class="editable-row-operations">
              <ng-container *ngIf="!editCache[data.key].edit">
              <span style="padding: 1rem;">
                <a (click)="startEdit(data.key)">Edit</a>
              </span>
               <span>
                <a (click)="startDelete(data.key)">Delete</a>
               </span> 
              </ng-container>
              <ng-container *ngIf="editCache[data.key].edit">
               <span style="padding: 1rem;"> 
                <a (click)="saveEdit(data.key)">Save</a>
               </span> 
                <nz-popconfirm
                  [nzTitle]="'Sure to cancel?'"
                  (nzOnConfirm)="cancelEdit(data.key)">
                <span>
                  <a nz-popconfirm>Cancel</a>
                </span>  
                </nz-popconfirm>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</section>
