<!-- Dasboard desgin -->
<div style="padding:24px; background: #fff; min-height: 600px;">
  <!-- Boxes section -->
  <section class="boxes">
    <div class="box">
      <i class="fas fa-chart-pie fa-4x"></i>
      <h3>Charity Analytics</h3>
      <p>Total amount</p>
      <h2>$21.02/day</h2>
    </div>
    <div class="box">
      <i class="fas fa-users fa-4x"></i>
      <h3>Users active</h3>
      <p>Total Users</p>
      <h2>25K</h2>
    </div>
    <div class="box">
      <i class="fab fa-accusoft fa-4x"></i>
      <h3>Charities active</h3>
      <p>Total charities</p>
      <h2> {{ charityCount }} </h2>
    </div>
  </section>

  <!-- Chart details -->
  <!-- <section class="graph-info">
    <div class="bar-graph">
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
      <button (click)="randomize()">Update</button>
    </div>
    <div class="wrap-pai-graph">
      <div style="display: block">
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </section> -->

  <!-- Charity tables -->
  <section class="wrap-table">
    <div class="charity-tab">
      <p>Charity details</p>
      <nz-mention nzPlacement="top" [nzSuggestions]="suggestions" (nzOnSelect)="onSelect($event)">
        <input nzMentionTrigger nz-input [(ngModel)]="searchString" charityName ="searchString" placeholder="Search.." style="margin:1%; width: 50%;" />
      </nz-mention>
      <nz-table #borderedTable nzBordered [nzData]="charitySet">
        <thead>
          <tr>
            <th>Charity Name</th>
            <th>Description</th>
            <th>Funds</th>
            <th>Ratings</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let data of charityResult | filter : 'charityName' :searchString">
            <td style="width:30%;">{{ data.charityName }}</td>
            <td style="width:30%;">{{ data.description }}</td>
            <td>{{ data.funds }}</td>
            <td>
              <nz-rate [ngModel]="data.rating" nzDisabled></nz-rate>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </section>
  
<!-- User details Tables -->
  <section class="user-dteail">
    <p>User Details</p>
    <nz-table #basicTable [nzData]="userTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Donated Amount</th>
          <th>Goal balence</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.user_name }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.fund }}</td>
          <td>
            <nz-progress [nzPercent]="data.goal_balence" nzType="circle" [nzWidth]="60"></nz-progress>
          </td>
          <td>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </section>
</div>